.pic {
    border: 2px dashed black;
}

.pic:hover{
    transform: scale(1.2);
    border: none;
}

.boldtext{
    font-weight: bolder;
    font-size: 1.1em;
}

.standout{
    font-size: 1.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button{
    background-color: rgb(216, 90, 90);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslategrey;
    border-radius: 3em;
    border-width: 1.2em;
}

button:hover{
    background-color: red;
    text-decoration: underline;
    transform: scale(1.3);
}

p {
    margin-left: 5px;
}