.logo {width: 300px;}

.is-odd{
    color: darkslategrey;
}

.is-even{
    color: darkred;
}

.position {
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(180, 177, 177);
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
}

.pocetok{
    display: flex;
    align-items: center;
    background-color: rgb(216, 90, 90);
    border: 10px solid rgb(216, 90, 90);
}

.kraj{
    background-color: rgb(216, 90, 90);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategrey;
    font-weight: bolder;
    font-size: 0.8em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quote{
    margin-left: 80px;
    font-size: 1.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: rgb(216, 90, 90);
    color: darkslategrey;
    text-decoration: underline;
}

.quote:hover{
    transform: scale(1.1);
    color: black
}

app-vozac {
    background-color: rgb(233, 217, 217);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid rgb(233, 217, 217);
    border-radius: 1.4em;
    padding-bottom: 10px;
}
