h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center; 
    font-weight: bolder; 
    font-size: 10ex;
}

#bgimage {
    height: 750px; 
    background-size: cover; 
    background-position: center; 
    background-image: url("auckland_home.jpg"); 
    background-repeat: no-repeat;
}

#title {
    padding-top: 25ex;
    font-size: larger;
}

.textStyle {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bolder;
}

.slides{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    width: 100%;
    background-color: rgb(118, 161, 187);
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.centered{
    width: 400px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.button{
    background-color: rgb(70, 144, 184);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslategrey;
    border-radius: 3em;
    border-width: 0.3em;
    border-color: rgb(76, 121, 194);
}