.newComment {
    color: lightseagreen; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin-top: 2ex; 
}

.button{
    background-color: rgb(70, 144, 184);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslategrey;
    border-radius: 3em;
    border-width: 0.3em;
    border-color: rgb(76, 121, 194);
    margin-top: 2ex;
}

.likebutton{
    background-color: rgb(44, 189, 124);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslategrey;
    border-radius: 3em;
    border-width: 0.3em;
    border-color: rgb(26, 120, 78);
    margin-right: 2ex;
}

.dislikebutton{
    background-color: rgb(212, 89, 45);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslategrey;
    border-radius: 3em;
    border-width: 0.3em;
    border-color: rgb(133, 41, 23);
}