h1 {font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center; font-weight: bolder; font-size: 10ex;}
#bgimage {height: 750px; background-size: cover; background-position: center; background-image: url("auckland_home.jpg"); 
    background-repeat: no-repeat;}
#title {padding-top: 25ex;}
.textStyle {font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder;}